/*Post Widget*/
#dummy-blog-container a:hover {
    text-decoration: none;
}

div#dummy-blog-container h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;
}

div#dummy-blog-container * {
    color: white;
}

div#dummy-blog-container .date{
    display:block;
    font-size:14px;
}

div#dummy-blog-container {
    width: 300px;
	max-width:100%;
    margin: 50px auto 20px;
    padding: 20px;
    box-shadow: none;
    background-color: transparent;
    border-radius: 20px;
}

#dummy-blog-container .featured-image-container img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

#dummy-blog-container + .load-more {
    text-align: center;
    width: 150px;
    margin: 20px auto;
    cursor: pointer;
    padding: 10px;
}

#dummy-blog-container + .pagination {
    width: 100%;
}

.pagination > div {
    cursor: pointer;
    padding: 8px 15px;
    border: 1px solid;
    width: 150px;
    text-align: center;
    display: inline-block;
    margin-right:10px
}

.pagination .page-prev {
    display: none;
}

[data-page]{
	display:none;
}

[data-page = '1']{
	display:block;
}